#main_content{
    min-height: 250px;
}

#progress, #solution{
    margin-bottom: 75px;
}

#main_icon{
    background-image: url(../../img/activity.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#main_nav{
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
}

.nav_button{
    background: #1696d7;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 5px;
    width: 110px;
}

div.nav_button:hover{
    background: #f08734;
    border: 1px solid #fff;
}

div.item_slideshow{
    position: relative;
    display: block;
    margin: auto;
    padding: auto;
}

div.item{
    position: absolute;
    display: block;
    left: 0; right: 0; top: 0;
    opacity: 0;
    text-align: center;
    padding: 5px;
    padding-bottom: 25px;
    color: #02202f;
    overflow:hidden;
}

div.item.show{
    position: relative;
    opacity: 1;
    transition: 0.5s opacity;
}

div.item p{
    font-weight: bold;
}

input[type="radio"]{
    position: relative;
    margin:auto;
    margin-right: 5px;
    padding: 5px;
}

div.item.show input[type="radio"]{
    z-index: 3;
    pointer-events: auto;
}

#progress input[type="radio"],
#solution input[type="radio"]{
    pointer-events: none;
}

table{
    position: relative;
    margin: auto;
}

td{
    padding: 15px;
}

.ans_icon{
    height: 12px;
    margin-right: 5px;
}