#main_content{ min-height: 225px; }

#progress, #solution{
    margin-bottom: 75px;
}

#main_icon{
    background-image: url(../../img/activity.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#main_nav{
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
}

.nav_button{
    background: #1696d7;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 5px;
    width: 110px;
}

div.nav_button:hover{
    background: #f08734;
    border: 1px solid #fff;
}


#buttonbox{
    position: relative;
    margin: auto;
    padding: auto;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 35px;
    text-align: center;
}

.option{
    background: #189adc;
    border: 1px solid #189adc;
    border-radius: 7px;
    width: 170px;
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 3px #0e6891;
    color: #fff;
    pointer-events: auto;
}

.option:hover{
    box-shadow: 1px 2px #0e6891;
    cursor: pointer;
}

div.item_slideshow{
    position: relative;
    display: block;
    margin: auto;
    padding: auto;
}

div.item{
    position: absolute;
    left: 0; right: 0; top: 0;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    padding-bottom: 25px;
    color: #02202f;
}

div.item.show{
    position: relative;
    transition: 0.5s opacity;
    opacity: 1;
	z-index: 5;
}

.ans_icon{
    height: 1em;
    margin-right: 7px;
}

input[type="text"]{
    pointer-events: none;
    border: 3px solid #df9a16;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: #df9a16;
    background: #fff;
}
