#main_content{
    min-height: 250px;
}

#progress #main_content,
#solution #main_content{
    margin-bottom: 50px;
}

#main_icon{
    background-image: url(../../img/activity.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#main_nav{
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
}

.nav_button{
    background: #1696d7;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 5px;
    width: 110px;
}

div.nav_button:hover{
    background: #f08734;
    border: 1px solid #fff;
}

div.item_slideshow{
    position: relative;
    display: block;
    margin: auto;
    padding: auto;
    text-align: center;
}

div.item{
    position: absolute;
    display: block;
    left: 0; right: 0; top: 0;
    opacity: 0;
    text-align: center;
    padding: 5px;
    padding-bottom: 25px;
    color: #02202f;
    overflow:hidden;
}

div.item.show{
    position: relative;
    opacity: 1;
    transition: 0.5s opacity;
}

input[type="text"]{
    position: relative;
    margin: 0;
    padding: 1px;
    color: #df9a16;
    background: #fff;
    border: none;
    border-bottom: 2px solid #df9a16;
    width: 115px;
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
    pointer-events: none;
}

#input8{ width: 155px; }

div.item.show input[type="text"]{
    z-index: 3;
    pointer-events: auto;
}

#progress #main_content p, 
#solution #main_content p{
    padding-left: 5%;
}

#reset{
    position: relative;
    margin: auto;
    z-index: 3;
    background: #189adc;
    border: 1px solid #189adc;
    border-radius: 7px;
    width: 100px;
    padding: 5px;
    margin: 3px;
    box-shadow: 2px 3px #0e6891;
    color: #fff;
    pointer-events: auto;
}

#reset:hover{ box-shadow: 1px 2px #0e6891; cursor: pointer;}
#reset:active{ box-shadow: 2px 3px #0e6891; }

.ans_icon{
    height: 14px;
}