#main_icon{
    background-image: url(../../img/activity.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#main_nav{
    text-align: right;
    padding-left: 5%;
    padding-right: 5%;
}

.nav_button{
    background: #1696d7;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 5px;
    width: 110px;
}

div.nav_button:hover{
    background: #f08734;
    border: 1px solid #fff;
}

div.item_slideshow{
    position: relative;
    display: block;
    margin: auto;
    padding: auto;
}

div.item{
    position: absolute;
    display: block;
    left: 0; right: 0; top: 0;
    opacity: 0;
    text-align: center;
    padding: 5px;
    padding-bottom: 25px;
    color: #02202f;
    overflow:hidden;
}

div.item.show{
    position: relative;
    opacity: 1;
    transition: 0.5s opacity;
}

.buttonbox{
    position: relative;
    z-index: 3;
    margin: auto;
    margin-top: -10px;
    padding: auto;
    padding-bottom: 35px;
    text-align: center;
}

.option{
    background: #189adc;
    border: 1px solid #189adc;
    border-radius: 7px;
    width: 145px;
    padding: 5px;
    margin: 3px;
    box-shadow: 2px 3px #0e6891;
    color: #fff;
    pointer-events: auto;
}

.option:hover{
    box-shadow: 1px 2px #0e6891;
    cursor: pointer;
}

.option:active{
    box-shadow: 2px 3px #0e6891;
}

input[type="text"]{
    position: relative;
    margin: 1px;
    padding: 1px;
    color: #df9a16;
    background: #fff;
    border: 2px solid #df9a16;
    border-radius: 7px;
    width: 130px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

.ans_icon{
    height: 12px;
}